*{
    padding: 0;
    margin: 0;
    height: 100vp;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #282A36;
    color:#F8F8F2;
}
#span1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#span2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
textarea,iframe{
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f5f7;
    margin-top: 5px;
    padding: 16px;
}
iframe{
    background-color: #f5f5f7;
}
textarea:hover,iframe:hover{
    box-shadow: 3PX 6PX 10PX black;
    cursor:text;
}
button{
width: 80px;
height: 40px;
padding: 8px;
border-radius: 20px;
background-color: #50FA7B;
color:black ;
margin-left: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 3px 8px black;

}

h1{
    display: block;
    background-color:#BD93F9;
    color: black;
    width: auto;
    height: 70px;

}
